* {
	margin: 0px;
	padding: 0px;
}
.body{
	font-size: 120%;
	background-color: #c2d6d6;
}

.headers{
	width: 50%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.header{
	width: 50%;
	margin: 50px auto 0px;
	color: white;
	background: rgb(15,135,355);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 5px;
}
.form, .content {
	width: 50%;
	height: 100%;
	margin: 0px auto;
	padding: 20px;
	border-collapse: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.18);

}
.view-form {
	width: 90%;
	margin: 0px auto;
	padding: 20px;
	border-collapse: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.18);
}/*#5F9EA0*/
.view-headers {
	width: 90%;
	margin: 50px auto 0px;
	color: white;
	background: rgb(15,135,355);
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 6px 6px 0px 0px;
	padding: 5px;
}
.input-groups {
	margin: 10px 0px 10px 0px;
}

.input-groups label{
	display: block;
	text-align: left;
	margin: 5px;
}
.input-groups input{
	/*height: 30px;*/
	width: 100%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-groups select{
	
	width: 100%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
textarea {
	resize: none;
}
input[placeholder]{
	font-size: 100%;
}
.footers{
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-radius: 0px 0px 5px 5px;
	padding: 50px;
	margin-top: 50px;
}
 footer .footers a{
	text-decoration: none;
}
.btns {
	padding: 15px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.btns:hover{
	cursor: pointer;
	background: #00b3b3;
	color: #fff;
}

.btnos {
	padding: 15px;
	font-size: 15px;
	color: white;
	background: rgb(0,115,230);
	border: none;
	border-radius: 5px;
}
.btnos:hover{
	cursor: pointer;
	background: rgb(5,100,230);
	color: #fff;
}


.errors {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}

.succes {
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.right{
	float: right;
	margin-right: 5px; 
}
#on{
	color: #000;
	font-style: italic;
}
#logout a{
	color: red;
}
.container-fluid .nav li a:link{
	color: white;
}
.container-fluid .nav li a:hover{
	background: red;
	color: white;
	padding: 10px;
}
